<html>

<head>
    
</head>
    
	
<body class="smoothscroll enable-animation">
    <!-- wrapper -->
	<div id="wrapper">
       
        <!-- PAGE HEADER -->
            <section class="page-header page-header-xlg parallax parallax-4" style = "background-image: url(<%= asset_path("Rocket_Elevator_Assets/Quote/AdobeStock_556688421.jpg") %>)">
                <div class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></div>
            </section>

            <br>
        <!-- /PAGE HEADER -->

            <div class="container">

                <div class="heading-title heading-dotted text-center">
                    <h2 style="font-family: Garamond, Times, serif;">New Intervention Form</h2>
                </div>				
            </div>


        <!-- INTERVENTION FORM BEGINS -->
        <%= form_for :interventions, url: url_for(controller: 'interventions', action: 'create'),  :html => {:class => "text-center"} do |f|%>
        
        
            <div class="col-lg-12 text-center offset-lg-12 selcust">
                <label for="selectcustomer">Select Customer *</label>
                <%= f.select :customer, Customer.all.collect { |customer| [customer.company_name, customer.id] }.sort, {}, :id => "selectcustomer", :required => true %>
            </div>
            <br>
            <div class="col-lg-12 text-center offset-lg-12 selbuild selform">
                <label for="selectbuilding">Select Building *</label>
                <%= f.select :building, Building.all.collect { |building| [building.id, building.id] }, {}, :id => "selectbuilding", :required => true %>
            </div>
            <br>
            <div class="col-lg-12 text-center offset-lg-12 selbatt selform">
                <label for="selectbattery">Select Battery *</label>
                <%= f.select :battery, Battery.all.collect { |battery| [battery.id, battery.id] }, {}, :id => "selectbattery", :required => true %>
            </div>
            <br>
            <div class="col-lg-12 text-center offset-lg-12 selcol selform">
                <label for="selectcolumn">Select Column</label>
                <%= f.select :column, Column.all.collect { |column| [column.id, column.id] }, {}, :id => "selectcolumn", include_blank: true %>
            </div>
            <br>
            <div class="col-lg-12 text-center offset-lg-12 selelev selform">
                <label for="selectelevator">Select Elevator</label>
                <%= f.select :elevator, Elevator.all.collect { |elevator| [elevator.serial_number, elevator.id] }, {}, :id => "selectelevator", include_blank: true %>
            </div>
            <br>
            <div class="col-lg-12 text-center offset-lg-12 selemp">
                <label for="selectemployee">Assign To:</label>
                <%= f.select :employee, Employee.all.collect { |employee| [employee.first_name + " " +  employee.last_name, employee.id] }, {}, :id => "selectemployee", include_blank: true %>
            </div>
            <br>
            <div class="col-lg-12 text-center offset-lg-12 seldesc">
                <label for="selectdescription">Description</label>
                <%= f.text_area :report, { :id => 'selectdescription', size: "90x10" } %>
            </div>
            
            <div class="col-md-12 text-center">
                <%= f.submit 'SUBMIT', :class => 'btn-blue btn-lg mt-12' %>
            </div>
        
        <% end %>
    </div>
</body>

<script>


// FUNCTIONS TO POPULATE DROPDOWN WITH THE RELATED DATA DEPENDING ON SELECTIONS //

function buildingLoad() {
    $("#selectbuilding").append("<option disabled selected>--Required--</option>")
    <% Building.all.each do |building| %>
    if ($('#selectcustomer').val() == <%=building.customer_id%>){
        $("#selectbuilding").append("<option value='<%=building.id%>'>Building ID: <%=building.id%></option>")
    }
    <% end %>
};

function batteryLoad() {
    $("#selectbattery").append("<option disabled selected>--Required--</option>")
    <% Battery.all.each do |battery| %>
    if ($('#selectbuilding').val() == <%=battery.building_id%>){
        $("#selectbattery").append("<option value='<%=battery.id%>'>Battery ID: <%=battery.id%></option>")
    }
    <% end %>
};

function columnLoad() {
    $("#selectcolumn").append("<option value='' selected>None</option>")
    <% Column.all.each do |column| %>
    if ($('#selectbattery').val() == <%=column.battery_id%>){
        $("#selectcolumn").append("<option value='<%=column.id%>'>Column ID: <%=column.id%></option>")
    }
    <% end %>
};

function elevatorLoad() {
    $("#selectelevator").append("<option value='' selected>None</option>")
    <% Elevator.all.each do |elevator| %>
    if ($('#selectcolumn').val() == <%=elevator.column_id%>){
        $("#selectelevator").append("<option value='<%=elevator.id%>'>Serial Number: <%=elevator.serial_number%></option>")
    }
    <% end %>
};



// REFRESH PAGE INPUT FIELDS ON RELOAD //

function autoRemove(arg) {
    $(arg).find('option').remove()
};

function autoRemoveAll() {
    $('#intervention').find('option').remove()
};

function clearText() {
    $('#selectdescription').val("")
};


autoRemoveAll()
clearText()

$(".selform").hide()



// SHOW/HIDE DEPENDING ON SELECTIONS IN THE FORM //
$('#selectcustomer').change(function(){
    autoRemove('#selectbuilding')
    autoRemove('#selectbattery')
    autoRemove('#selectcolumn')
    autoRemove('#selectelevator')
    $(".selform").hide()
    $(".selbuild").show()
    clearText()
    buildingLoad()
});

$('#selectbuilding').change(function(){
    autoRemove('#selectbattery')
    autoRemove('#selectcolumn')
    autoRemove('#selectelevator')
    $(".selcol").hide()
    $(".selelev").hide()
    $(".selbatt").show()
    clearText()
    batteryLoad()
});

$('#selectbattery').change(function(){
    autoRemove('#selectcolumn')
    autoRemove('#selectelevator')
    $(".selelev").hide()
    $(".selcol").show()
    clearText()
    columnLoad()
});

$('#selectcolumn').change(function(){
    autoRemove('#selectelevator')
    $(".selelev").show()
    clearText()
    elevatorLoad()
});

</script>