<html>

<head>
    <%= javascript_include_tag "intervention" %>
</head>
    
	
<body class="smoothscroll enable-animation">
    <!-- wrapper -->
	<div id="wrapper">
       
        <!-- PAGE HEADER -->
            <section class="page-header page-header-xlg parallax parallax-4" style = "background-image: url(<%= asset_path("Rocket_Elevator_Assets/Quote/AdobeStock_556688421.jpg") %>)">
                <div class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></div>
            </section>

            <br>
        <!-- /PAGE HEADER -->

            <div class="container">

                <div class="heading-title heading-dotted text-center">
                    <h2 style="font-family: Garamond, Times, serif;">New Intervention Form</h2>
                </div>				
            </div>


        <!-- INTERVENTION FORM BEGINS -->

            <%= form_for :interventions, url: url_for(controller: 'interventions', action: 'create'),  :html => {:class => "text-center"} do |f|%>
            <div class="col-lg-12 text-center offset-lg-12">
                <label class="col-lg-12 text-center offset-lg-12">Select Customer *</label>
                <div class="col-lg-12 text-center offset-lg-12">
                    <%= f.select :customer, Customer.all.collect { |customer| [customer.company_name, customer.id] }.sort, :required => true, include_blank: true %>
                </div>
            </div>
            <br>
            <div class="col-lg-12 text-center offset-lg-12">
                <label class="col-lg-12 text-center offset-lg-12">Select Building *</label>
                <div class="col-lg-12 text-center offset-lg-12">
                    <%= f.select :building, Building.all.collect { |building| [building.id, building.id] }, :required => true %>
                </div>
            </div>
            <br>
            <div class="col-lg-12 text-center offset-lg-12">
                <label class="col-lg-12 text-center offset-lg-12">Select Battery *</label>
                <div class="col-lg-12 text-center offset-lg-12">
                    <%= f.select :battery, Battery.all.collect { |battery| [battery.id, battery.id] }, :required => true %>
                </div>
            </div>
            <br>
            <div class="col-lg-12 text-center offset-lg-12">
                <label class="col-lg-12 text-center offset-lg-12">Select Column</label>
                <div class="col-lg-12 text-center offset-lg-12">
                    <%= f.select :column, Column.all.collect { |column| [column.id, column.id] }, include_blank: true %>
                </div>
            </div>
            <br>
            <div class="col-lg-12 text-center offset-lg-12">
                <label class="col-lg-12 text-center offset-lg-12">Select Elevator</label>
                <div class="col-lg-12 text-center offset-lg-12">
                    <%= f.select :elevator, Elevator.all.collect { |elevator| ["ID: " + elevator.id.to_s + " / S#: " + elevator.serial_number, elevator.id] }, include_blank: true %>
                </div>
            </div>
            <br>
            <div class="col-lg-12 text-center offset-lg-12">
                <label class="col-lg-12 text-center offset-lg-12">Assign Employee</label>
                <div class="col-lg-12 text-center offset-lg-12">
                    <%= f.select :employee, Employee.all.collect { |employee| [employee.first_name + " " +  employee.last_name, employee.id] }, include_blank: true %>
                </div>
            </div>
            <br>
            <div class="col-lg-12 text-center offset-lg-12">
                <label class="col-lg-12 text-center offset-lg-12">Report</label>
                <div class="col-lg-12 text-center offset-lg-12">
                    <%= f.text_area :report, size: "90x10" %>
                </div>
            </div>
            <br>
            <div class="col-lg-12 text-center offset-lg-12">
                <div class="col-lg-12 text-center offset-lg-12">
                    <%= f.submit 'SUBMIT', :class => 'btn-blue btn-lg mt-12' %>
                </div>
            </div>
            <% end %>

            <br>

        </div>
    </div>
</div>
                
    <!-- /wrapper -->
    <!-- SCROLL TO TOP -->
    <a href="#" id="toTop"></a>
</body>
</html>